<form>

  <table>
    <tr>
      <td>
        <!-- First Name -->
        <label for="first_name" class="control-label">How much would you like to invest ? Minimun 100 - Maximun 10000</label>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><input #amount type="number" class="form-control" id="funding_amount" name="funding_amount" placeholder="100 to 10000 Euros"  [disabled]="showtransactionDone"></td>
      <td>
        <!-- Register Button -->
        <button class="btn btn-primary" (click)="applyFunding(amount.value)" [disabled]="showtransactionDone">Apply</button>        
      </td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/']">Back</button>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <p *ngIf="showAmountValidation">Please enter value between 100 and 10000</p>
        <p *ngIf="showtransactionDone">Congratulations you already invested</p>
        <p *ngIf="duplicateInvestment">Sorry, you already invested on this investment</p>
      </td>
      <td></td>
    </tr>
  </table>
  <br>
</form>


